@font-face {
  font-family: "AleoSans";
  src: url("/src/assets/fonts/AleoSans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Применяем AleoSans только к заголовкам */
h2, h3, h4, h5, h6 {
  font-family: "AleoSans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui;
}
